<a href="https://colab.research.google.com/github/Arpitam1991/Data-Engineering-2-codes/blob/main/Privacy_%26_Ethics_Bias_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using a Naive Bayesian Classifier for Model Run

In [ ]:
#Importing base libraries and libraries like Scikit Learn for model training
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import pointbiserialr, spearmanr
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#Mounting google drive in colab
from google.colab import drive
import os
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
#Loading UCI Income Dataset
df=pd.read_csv('gdrive/My Drive/adult4.csv', encoding = 'unicode_escape', delimiter=',', header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,ï»¿39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
#Following steps are basic data cleaning and preprocessing using pandas

In [ ]:
df[0] = df[0].replace({'ï»¿':''}, regex=True)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
#Inserting header in the dataset

In [ ]:
header=('age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'class')

In [ ]:

header=pd.DataFrame(header).T
header

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class

In [ ]:
df=pd.concat([header, df], )

In [ ]:
df.columns=df.iloc[0,:]
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
df.drop(index=df.index[0], axis=0, inplace=True)

In [ ]:
#Final Data Structure
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

Data Exploration

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32560 entries, 1 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32560 non-null  object
 1   workclass       32560 non-null  object
 2   fnlwgt          32560 non-null  object
 3   education       32560 non-null  object
 4   education-num   32560 non-null  object
 5   marital-status  32560 non-null  object
 6   occupation      32560 non-null  object
 7   relationship    32560 non-null  object
 8   race            32560 non-null  object
 9   sex             32560 non-null  object
 10  capital-gain    32560 non-null  object
 11  capital-loss    32560 non-null  object
 12  hours-per-week  32560 non-null  object
 13  native-country  32560 non-null  object
 14  class           32560 non-null  object
dtypes: object(15)
memory usage: 4.0+ MB

In [ ]:
#Income greater than equal 50k or less than 50k
n_records=df.shape[0]
n_greater_50k=df['class'].str.count('>50K').sum()
n_lesser_50k=df['class'].str.count('<=50K').sum()
print(n_records)
print(n_greater_50k)
print(n_lesser_50k)

32560
7841
24719

Normalisation

In [ ]:
df['capital-gain']=df['capital-gain'].astype(float)
df['capital-loss']=df['capital-loss'].astype(float)
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0.0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0.0,0.0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024.0,0.0,40,United-States,>50K

In [ ]:
#Split the data into features and target label
income_raw=df['class']
features_raw=df.drop('class', axis=1)

In [ ]:
#Log transform skewed features
skewed=['capital-gain', 'capital-loss']
feature_log_transformed=pd.DataFrame(data=features_raw)
feature_log_transformed[skewed]=features_raw[skewed].apply(lambda x: np.log(x+1))

In [ ]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0.0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0.0,0.0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024.0,0.0,40,United-States,>50K

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
numerical=['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
features_log_minmax_transform = pd.DataFrame(data=feature_log_transformed)
features_log_minmax_transform[numerical] = scaler.fit_transform(feature_log_transformed[numerical])
display(features_log_minmax_transform.head)

<bound method NDFrame.head of 0           age          workclass  fnlwgt    education  education-num  \
1      0.452055   Self-emp-not-inc   83311    Bachelors       0.800000
2      0.287671            Private  215646      HS-grad       0.533333
3      0.493151            Private  234721         11th       0.400000
4      0.150685            Private  338409    Bachelors       0.800000
5      0.273973            Private  284582      Masters       0.866667
...         ...                ...     ...          ...            ...
32556  0.136986            Private  257302   Assoc-acdm       0.733333
32557  0.315068            Private  154374      HS-grad       0.533333
32558  0.561644            Private  151910      HS-grad       0.533333
32559  0.068493            Private  201490      HS-grad       0.533333
32560  0.479452       Self-emp-inc  287927      HS-grad       0.533333

0           marital-status          occupation    relationship    race  \
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
5       Married-civ-spouse     Exec-managerial            Wife   White
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

0          sex  capital-gain  capital-loss  hours-per-week  native-country
1         Male      0.000000           0.0        0.122449   United-States
2         Male      0.000000           0.0        0.397959   United-States
3         Male      0.000000           0.0        0.397959   United-States
4       Female      0.000000           0.0        0.397959            Cuba
5       Female      0.000000           0.0        0.397959   United-States
...        ...           ...           ...             ...             ...
32556   Female      0.000000           0.0        0.377551   United-States
32557     Male      0.000000           0.0        0.397959   United-States
32558   Female      0.000000           0.0        0.397959   United-States
32559     Male      0.000000           0.0        0.193878   United-States
32560   Female      0.835363           0.0        0.397959   United-States

[32560 rows x 14 columns]>

In [ ]:
#Categorical feature transformation
features_final=pd.get_dummies(features_log_minmax_transform)
income = income_raw.map({'<=50K':0, '>50K':1})
encoded =list(features_final.columns)
print("{} total features after one-hot encoding".format(len(encoded)))
encoded

21754 total features after one-hot encoding

['age',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'workclass_ ?',
 'workclass_ Federal-gov',
 'workclass_ Local-gov',
 'workclass_ Never-worked',
 'workclass_ Private',
 'workclass_ Self-emp-inc',
 'workclass_ Self-emp-not-inc',
 'workclass_ State-gov',
 'workclass_ Without-pay',
 'fnlwgt_12285',
 'fnlwgt_13769',
 'fnlwgt_14878',
 'fnlwgt_18827',
 'fnlwgt_19214',
 'fnlwgt_19302',
 'fnlwgt_19395',
 'fnlwgt_19410',
 'fnlwgt_19491',
 'fnlwgt_19520',
 'fnlwgt_19700',
 'fnlwgt_19752',
 'fnlwgt_19793',
 'fnlwgt_19847',
 'fnlwgt_19899',
 'fnlwgt_19914',
 'fnlwgt_20057',
 'fnlwgt_20098',
 'fnlwgt_20101',
 'fnlwgt_20109',
 'fnlwgt_20179',
 'fnlwgt_20296',
 'fnlwgt_20308',
 'fnlwgt_20323',
 'fnlwgt_20333',
 'fnlwgt_20438',
 'fnlwgt_20469',
 'fnlwgt_20507',
 'fnlwgt_20511',
 'fnlwgt_20534',
 'fnlwgt_20676',
 'fnlwgt_20728',
 'fnlwgt_20795',
 'fnlwgt_20809',
 'fnlwgt_20953',
 'fnlwgt_20956',
 'fnlwgt_21095',
 'fnlwgt_21101',
 'fnlwgt_21154',
 'fnlwgt_21174',
 'fnlwgt_21306',
 'fnlwgt_21472',
 'fnlwgt_21626',
 'fnlwgt_21698',
 'fnlwgt_21792',
 'fnlwgt_21856',
 'fnlwgt_21876',
 'fnlwgt_21906',
 'fnlwgt_22042',
 'fnlwgt_22055',
 'fnlwgt_22154',
 'fnlwgt_22155',
 'fnlwgt_22186',
 'fnlwgt_22201',
 'fnlwgt_22211',
 'fnlwgt_22245',
 'fnlwgt_22313',
 'fnlwgt_22328',
 'fnlwgt_22418',
 'fnlwgt_22422',
 'fnlwgt_22428',
 'fnlwgt_22463',
 'fnlwgt_22494',
 'fnlwgt_22546',
 'fnlwgt_22641',
 'fnlwgt_22743',
 'fnlwgt_22831',
 'fnlwgt_22900',
 'fnlwgt_22907',
 'fnlwgt_22966',
 'fnlwgt_22978',
 'fnlwgt_23037',
 'fnlwgt_23074',
 'fnlwgt_23157',
 'fnlwgt_23233',
 'fnlwgt_23324',
 'fnlwgt_23438',
 'fnlwgt_23494',
 'fnlwgt_23510',
 'fnlwgt_23545',
 'fnlwgt_23580',
 'fnlwgt_23621',
 'fnlwgt_23646',
 'fnlwgt_23686',
 'fnlwgt_23698',
 'fnlwgt_23740',
 'fnlwgt_23776',
 'fnlwgt_23778',
 'fnlwgt_23780',
 'fnlwgt_23789',
 'fnlwgt_23813',
 'fnlwgt_23871',
 'fnlwgt_23892',
 'fnlwgt_23940',
 'fnlwgt_24008',
 'fnlwgt_24013',
 'fnlwgt_24046',
 'fnlwgt_24050',
 'fnlwgt_24090',
 'fnlwgt_24106',
 'fnlwgt_24108',
 'fnlwgt_24127',
 'fnlwgt_24139',
 'fnlwgt_24153',
 'fnlwgt_24185',
 'fnlwgt_24215',
 'fnlwgt_24243',
 'fnlwgt_24264',
 'fnlwgt_24266',
 'fnlwgt_24292',
 'fnlwgt_24342',
 'fnlwgt_24344',
 'fnlwgt_24364',
 'fnlwgt_24384',
 'fnlwgt_24395',
 'fnlwgt_24473',
 'fnlwgt_24504',
 'fnlwgt_24515',
 'fnlwgt_24529',
 'fnlwgt_24562',
 'fnlwgt_24647',
 'fnlwgt_24694',
 'fnlwgt_24712',
 'fnlwgt_24721',
 'fnlwgt_24723',
 'fnlwgt_24728',
 'fnlwgt_24763',
 'fnlwgt_24790',
 'fnlwgt_24824',
 'fnlwgt_24872',
 'fnlwgt_24896',
 'fnlwgt_24961',
 'fnlwgt_24967',
 'fnlwgt_24982',
 'fnlwgt_25005',
 'fnlwgt_25031',
 'fnlwgt_25045',
 'fnlwgt_25051',
 'fnlwgt_25124',
 'fnlwgt_25139',
 'fnlwgt_25141',
 'fnlwgt_25216',
 'fnlwgt_25240',
 'fnlwgt_25249',
 'fnlwgt_25265',
 'fnlwgt_25319',
 'fnlwgt_25322',
 'fnlwgt_25386',
 'fnlwgt_25429',
 'fnlwgt_25468',
 'fnlwgt_25497',
 'fnlwgt_25505',
 'fnlwgt_25610',
 'fnlwgt_25631',
 'fnlwgt_25649',
 'fnlwgt_25684',
 'fnlwgt_25690',
 'fnlwgt_25803',
 'fnlwgt_25825',
 'fnlwgt_25826',
 'fnlwgt_25828',
 'fnlwgt_25837',
 'fnlwgt_25864',
 'fnlwgt_25932',
 'fnlwgt_25955',
 'fnlwgt_26009',
 'fnlwgt_26109',
 'fnlwgt_26145',
 'fnlwgt_26248',
 'fnlwgt_26254',
 'fnlwgt_26290',
 'fnlwgt_26358',
 'fnlwgt_26401',
 'fnlwgt_26410',
 'fnlwgt_26451',
 'fnlwgt_26490',
 'fnlwgt_26502',
 'fnlwgt_26522',
 'fnlwgt_26543',
 'fnlwgt_26553',
 'fnlwgt_26598',
 'fnlwgt_26620',
 'fnlwgt_26669',
 'fnlwgt_26671',
 'fnlwgt_26672',
 'fnlwgt_26683',
 'fnlwgt_26698',
 'fnlwgt_26716',
 'fnlwgt_26721',
 'fnlwgt_26756',
 'fnlwgt_26781',
 'fnlwgt_26803',
 'fnlwgt_26832',
 'fnlwgt_26842',
 'fnlwgt_26857',
 'fnlwgt_26865',
 'fnlwgt_26880',
 'fnlwgt_26892',
 'fnlwgt_26898',
 'fnlwgt_26904',
 'fnlwgt_26911',
 'fnlwgt_26915',
 'fnlwgt_26929',
 'fnlwgt_26950',
 'fnlwgt_26966',
 'fnlwgt_26973',
 'fnlwgt_26987',
 'fnlwgt_26990',
 'fnlwgt_26994',
 'fnlwgt_26999',
 'fnlwgt_27012',
 'fnlwgt_27032',
 'fnlwgt_27037',
 'fnlwgt_27044',
 'fnlwgt_27049',
 'fnlwgt_27051',
 'fnlwgt_27053',
 'fnlwgt_27067',
 'fnlwgt_27142',
 'fnlwgt_27153',
 'fnlwgt_27162',
 'fnlwgt_27166',
 'fnlwgt_27184',
 'fnlwgt_27187',
 'fnlwgt_27207',
 'fnlwgt_27242',
 'fnlwgt_27243',
 'fnlwgt_27255',
 'fnlwgt_27305',
 'fnlwgt_27332',
 'fnlwgt_27337',
 'fnlwgt_27380',
 'fnlwgt_27382',
 'fnlwgt_27385',
 'fnlwgt_27408',
 'fnlwgt_27409',
 'fnlwgt_27411',
 'fnlwgt_27415',
 'fnlwgt_27432',
 'fnlwgt_27433',
 'fnlwgt_27444',
 'fnlwgt_27466',
 'fnlwgt_27484',
 'fnlwgt_27494',
 'fnlwgt_27539',
 'fnlwgt_27620',
 'fnlwgt_27624',
 'fnlwgt_27653',
 'fnlwgt_27661',
 'fnlwgt_27669',
 'fnlwgt_27678',
 'fnlwgt_27763',
 'fnlwgt_27766',
 'fnlwgt_27776',
 'fnlwgt_27780',
 'fnlwgt_27802',
 'fnlwgt_27815',
 'fnlwgt_27821',
 'fnlwgt_27834',
 'fnlwgt_27856',
 'fnlwgt_27882',
 'fnlwgt_27886',
 'fnlwgt_27920',
 'fnlwgt_27937',
 'fnlwgt_27939',
 'fnlwgt_27956',
 'fnlwgt_27959',
 'fnlwgt_27979',
 'fnlwgt_27997',
 'fnlwgt_28008',
 'fnlwgt_28031',
 'fnlwgt_28035',
 'fnlwgt_28053',
 'fnlwgt_28061',
 'fnlwgt_28119',
 'fnlwgt_28145',
 'fnlwgt_28151',
 'fnlwgt_28160',
 'fnlwgt_28186',
 'fnlwgt_28197',
 'fnlwgt_28221',
 'fnlwgt_28225',
 'fnlwgt_28281',
 'fnlwgt_28291',
 'fnlwgt_28311',
 'fnlwgt_28334',
 'fnlwgt_28357',
 'fnlwgt_28359',
 'fnlwgt_28366',
 'fnlwgt_28367',
 'fnlwgt_28375',
 'fnlwgt_28419',
 'fnlwgt_28443',
 'fnlwgt_28451',
 'fnlwgt_28455',
 'fnlwgt_28471',
 'fnlwgt_28473',
 'fnlwgt_28497',
 'fnlwgt_28518',
 'fnlwgt_28520',
 'fnlwgt_28568',
 'fnlwgt_28572',
 'fnlwgt_28612',
 'fnlwgt_28648',
 'fnlwgt_28678',
 'fnlwgt_28683',
 'fnlwgt_28729',
 'fnlwgt_28735',
 'fnlwgt_28738',
 'fnlwgt_28765',
 'fnlwgt_28790',
 'fnlwgt_28791',
 'fnlwgt_28848',
 'fnlwgt_28856',
 'fnlwgt_28887',
 'fnlwgt_28929',
 'fnlwgt_28952',
 'fnlwgt_28967',
 'fnlwgt_28984',
 'fnlwgt_28996',
 'fnlwgt_29020',
 'fnlwgt_29036',
 'fnlwgt_29054',
 'fnlwgt_29059',
 'fnlwgt_29075',
 'fnlwgt_29083',
 'fnlwgt_29115',
 'fnlwgt_29145',
 'fnlwgt_29152',
 'fnlwgt_29174',
 'fnlwgt_29231',
 'fnlwgt_29235',
 'fnlwgt_29240',
 'fnlwgt_29250',
 'fnlwgt_29254',
 'fnlwgt_29261',
 'fnlwgt_29276',
 'fnlwgt_29302',
 'fnlwgt_29306',
 'fnlwgt_29312',
 'fnlwgt_29320',
 'fnlwgt_29324',
 'fnlwgt_29361',
 'fnlwgt_29375',
 'fnlwgt_29393',
 'fnlwgt_29430',
 'fnlwgt_29431',
 'fnlwgt_29437',
 'fnlwgt_29441',
 'fnlwgt_29444',
 'fnlwgt_29510',
 'fnlwgt_29522',
 'fnlwgt_29523',
 'fnlwgt_29526',
 'fnlwgt_29557',
 'fnlwgt_29571',
 'fnlwgt_29580',
 'fnlwgt_29582',
 'fnlwgt_29591',
 'fnlwgt_29599',
 'fnlwgt_29616',
 'fnlwgt_29617',
 'fnlwgt_29623',
 'fnlwgt_29658',
 'fnlwgt_29662',
 'fnlwgt_29675',
 'fnlwgt_29696',
 'fnlwgt_29702',
 'fnlwgt_29732',
 'fnlwgt_29762',
 'fnlwgt_29778',
 'fnlwgt_29798',
 'fnlwgt_29807',
 'fnlwgt_29810',
 'fnlwgt_29814',
 'fnlwgt_29819',
 'fnlwgt_29825',
 'fnlwgt_29828',
 'fnlwgt_29841',
 'fnlwgt_29859',
 'fnlwgt_29865',
 'fnlwgt_29866',
 'fnlwgt_29874',
 'fnlwgt_29887',
 'fnlwgt_29904',
 'fnlwgt_29909',
 'fnlwgt_29927',
 'fnlwgt_29928',
 'fnlwgt_29933',
 'fnlwgt_29957',
 'fnlwgt_29962',
 'fnlwgt_29974',
 'fnlwgt_29980',
 'fnlwgt_29984',
 'fnlwgt_30008',
 'fnlwgt_30030',
 'fnlwgt_30035',
 'fnlwgt_30039',
 'fnlwgt_30063',
 'fnlwgt_30069',
 'fnlwgt_30070',
 'fnlwgt_30073',
 'fnlwgt_30111',
 'fnlwgt_30118',
 'fnlwgt_30126',
 'fnlwgt_30219',
 'fnlwgt_30226',
 'fnlwgt_30237',
 'fnlwgt_30244',
 'fnlwgt_30246',
 'fnlwgt_30267',
 'fnlwgt_30269',
 'fnlwgt_30270',
 'fnlwgt_30271',
 'fnlwgt_30289',
 'fnlwgt_30290',
 'fnlwgt_30381',
 'fnlwgt_30424',
 'fnlwgt_30433',
 'fnlwgt_30447',
 'fnlwgt_30457',
 'fnlwgt_30475',
 'fnlwgt_30497',
 'fnlwgt_30499',
 'fnlwgt_30509',
 'fnlwgt_30529',
 'fnlwgt_30559',
 'fnlwgt_30565',
 'fnlwgt_30575',
 'fnlwgt_30599',
 'fnlwgt_30602',
 'fnlwgt_30619',
 'fnlwgt_30653',
 'fnlwgt_30656',
 'fnlwgt_30664',
 'fnlwgt_30673',
 'fnlwgt_30682',
 'fnlwgt_30687',
 'fnlwgt_30713',
 'fnlwgt_30731',
 'fnlwgt_30751',
 'fnlwgt_30759',
 'fnlwgt_30771',
 'fnlwgt_30793',
 'fnlwgt_30796',
 'fnlwgt_30800',
 'fnlwgt_30813',
 'fnlwgt_30824',
 'fnlwgt_30840',
 'fnlwgt_30908',
 'fnlwgt_30912',
 'fnlwgt_30916',
 'fnlwgt_30973',
 'fnlwgt_31007',
 'fnlwgt_31008',
 'fnlwgt_31014',
 'fnlwgt_31023',
 'fnlwgt_31033',
 'fnlwgt_31053',
 'fnlwgt_31069',
 'fnlwgt_31095',
 'fnlwgt_31102',
 'fnlwgt_31137',
 'fnlwgt_31141',
 'fnlwgt_31143',
 'fnlwgt_31161',
 'fnlwgt_31166',
 'fnlwgt_31195',
 'fnlwgt_31221',
 'fnlwgt_31251',
 'fnlwgt_31264',
 'fnlwgt_31267',
 'fnlwgt_31269',
 'fnlwgt_31290',
 'fnlwgt_31339',
 'fnlwgt_31350',
 'fnlwgt_31352',
 'fnlwgt_31359',
 'fnlwgt_31360',
 'fnlwgt_31362',
 'fnlwgt_31365',
 'fnlwgt_31368',
 'fnlwgt_31387',
 'fnlwgt_31389',
 'fnlwgt_31391',
 'fnlwgt_31428',
 'fnlwgt_31432',
 'fnlwgt_31438',
 'fnlwgt_31449',
 'fnlwgt_31460',
 'fnlwgt_31478',
 'fnlwgt_31481',
 'fnlwgt_31493',
 'fnlwgt_31510',
 'fnlwgt_31532',
 'fnlwgt_31533',
 'fnlwgt_31573',
 'fnlwgt_31577',
 'fnlwgt_31588',
 'fnlwgt_31600',
 'fnlwgt_31603',
 'fnlwgt_31606',
 'fnlwgt_31621',
 'fnlwgt_31627',
 'fnlwgt_31650',
 'fnlwgt_31659',
 'fnlwgt_31670',
 'fnlwgt_31703',
 'fnlwgt_31717',
 'fnlwgt_31725',
 'fnlwgt_31728',
 'fnlwgt_31732',
 'fnlwgt_31740',
 'fnlwgt_31757',
 'fnlwgt_31778',
 'fnlwgt_31782',
 'fnlwgt_31801',
 'fnlwgt_31807',
 'fnlwgt_31826',
 'fnlwgt_31838',
 'fnlwgt_31840',
 'fnlwgt_31842',
 'fnlwgt_31848',
 'fnlwgt_31873',
 'fnlwgt_31905',
 'fnlwgt_31924',
 'fnlwgt_31935',
 'fnlwgt_31964',
 'fnlwgt_31965',
 'fnlwgt_31983',
 'fnlwgt_31985',
 'fnlwgt_31993',
 'fnlwgt_32000',
 'fnlwgt_32008',
 'fnlwgt_32016',
 'fnlwgt_32059',
 'fnlwgt_32121',
 'fnlwgt_32124',
 'fnlwgt_32126',
 'fnlwgt_32146',
 'fnlwgt_32172',
 'fnlwgt_32185',
 'fnlwgt_32186',
 'fnlwgt_32212',
 'fnlwgt_32214',
 'fnlwgt_32220',
 'fnlwgt_32239',
 'fnlwgt_32244',
 'fnlwgt_32271',
 'fnlwgt_32275',
 'fnlwgt_32276',
 'fnlwgt_32280',
 'fnlwgt_32287',
 'fnlwgt_32291',
 'fnlwgt_32311',
 'fnlwgt_32312',
 'fnlwgt_32316',
 'fnlwgt_32334',
 'fnlwgt_32356',
 'fnlwgt_32365',
 'fnlwgt_32372',
 'fnlwgt_32385',
 'fnlwgt_32406',
 'fnlwgt_32423',
 'fnlwgt_32426',
 'fnlwgt_32446',
 'fnlwgt_32451',
 'fnlwgt_32477',
 'fnlwgt_32509',
 'fnlwgt_32519',
 'fnlwgt_32528',
 'fnlwgt_32533',
 'fnlwgt_32537',
 'fnlwgt_32546',
 'fnlwgt_32550',
 'fnlwgt_32552',
 'fnlwgt_32587',
 'fnlwgt_32604',
 'fnlwgt_32607',
 'fnlwgt_32616',
 'fnlwgt_32627',
 'fnlwgt_32639',
 'fnlwgt_32650',
 'fnlwgt_32668',
 'fnlwgt_32694',
 'fnlwgt_32709',
 'fnlwgt_32732',
 'fnlwgt_32763',
 'fnlwgt_32776',
 'fnlwgt_32778',
 'fnlwgt_32779',
 'fnlwgt_32801',
 'fnlwgt_32825',
 'fnlwgt_32837',
 'fnlwgt_32855',
 'fnlwgt_32878',
 'fnlwgt_32896',
 'fnlwgt_32897',
 'fnlwgt_32916',
 'fnlwgt_32921',
 'fnlwgt_32922',
 'fnlwgt_32950',
 'fnlwgt_32954',
 'fnlwgt_32958',
 'fnlwgt_32981',
 'fnlwgt_33001',
 'fnlwgt_33002',
 'fnlwgt_33016',
 'fnlwgt_33035',
 'fnlwgt_33068',
 'fnlwgt_33087',
 'fnlwgt_33088',
 'fnlwgt_33105',
 'fnlwgt_33109',
 'fnlwgt_33114',
 'fnlwgt_33117',
 'fnlwgt_33121',
 'fnlwgt_33124',
 'fnlwgt_33126',
 'fnlwgt_33138',
 'fnlwgt_33142',
 'fnlwgt_33155',
 'fnlwgt_33186',
 'fnlwgt_33213',
 'fnlwgt_33221',
 'fnlwgt_33234',
 'fnlwgt_33266',
 'fnlwgt_33274',
 'fnlwgt_33300',
 'fnlwgt_33304',
 'fnlwgt_33308',
 'fnlwgt_33309',
 'fnlwgt_33310',
 'fnlwgt_33315',
 'fnlwgt_33323',
 'fnlwgt_33331',
 'fnlwgt_33339',
 'fnlwgt_33350',
 'fnlwgt_33355',
 'fnlwgt_33363',
 'fnlwgt_33365',
 'fnlwgt_33373',
 'fnlwgt_33374',
 'fnlwgt_33394',
 'fnlwgt_33397',
 'fnlwgt_33404',
 'fnlwgt_33417',
 'fnlwgt_33423',
 'fnlwgt_33429',
 'fnlwgt_33432',
 'fnlwgt_33442',
 'fnlwgt_33487',
 'fnlwgt_33521',
 'fnlwgt_33551',
 'fnlwgt_33608',
 'fnlwgt_33610',
 'fnlwgt_33616',
 'fnlwgt_33619',
 'fnlwgt_33644',
 'fnlwgt_33658',
 'fnlwgt_33662',
 'fnlwgt_33669',
 'fnlwgt_33673',
 'fnlwgt_33678',
 'fnlwgt_33688',
 'fnlwgt_33710',
 'fnlwgt_33717',
 'fnlwgt_33725',
 'fnlwgt_33727',
 'fnlwgt_33729',
 'fnlwgt_33794',
 'fnlwgt_33795',
 'fnlwgt_33798',
 'fnlwgt_33811',
 'fnlwgt_33831',
 'fnlwgt_33842',
 'fnlwgt_33863',
 'fnlwgt_33865',
 'fnlwgt_33884',
 'fnlwgt_33886',
 'fnlwgt_33887',
 'fnlwgt_33895',
 'fnlwgt_33939',
 'fnlwgt_33945',
 'fnlwgt_33975',
 'fnlwgt_33983',
 'fnlwgt_34007',
 'fnlwgt_34019',
 'fnlwgt_34021',
 'fnlwgt_34028',
 'fnlwgt_34029',
 'fnlwgt_34037',
 'fnlwgt_34066',
 'fnlwgt_34067',
 'fnlwgt_34080',
 'fnlwgt_34088',
 'fnlwgt_34091',
 'fnlwgt_34098',
 'fnlwgt_34100',
 'fnlwgt_34102',
 'fnlwgt_34104',
 'fnlwgt_34110',
 'fnlwgt_34112',
 'fnlwgt_34113',
 'fnlwgt_34122',
 'fnlwgt_34125',
 'fnlwgt_34127',
 'fnlwgt_34146',
 'fnlwgt_34161',
 'fnlwgt_34173',
 'fnlwgt_34178',
 'fnlwgt_34180',
 'fnlwgt_34186',
 'fnlwgt_34218',
 'fnlwgt_34233',
 'fnlwgt_34246',
 'fnlwgt_34248',
 'fnlwgt_34269',
 'fnlwgt_34273',
 'fnlwgt_34278',
 'fnlwgt_34292',
 'fnlwgt_34297',
 'fnlwgt_34307',
 'fnlwgt_34310',
 'fnlwgt_34321',
 'fnlwgt_34335',
 'fnlwgt_34339',
 'fnlwgt_34340',
 'fnlwgt_34361',
 'fnlwgt_34364',
 'fnlwgt_34368',
 'fnlwgt_34374',
 'fnlwgt_34377',
 'fnlwgt_34378',
 'fnlwgt_34383',
 'fnlwgt_34393',
 'fnlwgt_34402',
 'fnlwgt_34419',
 'fnlwgt_34437',
 'fnlwgt_34443',
 'fnlwgt_34446',
 'fnlwgt_34452',
 'fnlwgt_34458',
 'fnlwgt_34503',
 'fnlwgt_34506',
 'fnlwgt_34532',
 'fnlwgt_34540',
 'fnlwgt_34541',
 'fnlwgt_34545',
 'fnlwgt_34568',
 'fnlwgt_34572',
 'fnlwgt_34574',
 'fnlwgt_34590',
 'fnlwgt_34616',
 'fnlwgt_34626',
 'fnlwgt_34632',
 'fnlwgt_34640',
 'fnlwgt_34701',
 'fnlwgt_34706',
 'fnlwgt_34722',
 'fnlwgt_34744',
 'fnlwgt_34747',
 'fnlwgt_34748',
 'fnlwgt_34788',
 'fnlwgt_34796',
 'fnlwgt_34803',
 'fnlwgt_34816',
 'fnlwgt_34832',
 'fnlwgt_34845',
 'fnlwgt_34848',
 'fnlwgt_34862',
 'fnlwgt_34878',
 'fnlwgt_34918',
 'fnlwgt_34935',
 'fnlwgt_34965',
 'fnlwgt_34973',
 'fnlwgt_34975',
 'fnlwgt_34987',
 'fnlwgt_34996',
 'fnlwgt_34998',
 'fnlwgt_35001',
 'fnlwgt_35015',
 'fnlwgt_35021',
 'fnlwgt_35032',
 'fnlwgt_35034',
 'fnlwgt_35065',
 'fnlwgt_35092',
 'fnlwgt_35102',
 'fnlwgt_35136',
 'fnlwgt_35166',
 'fnlwgt_35210',
 'fnlwgt_35211',
 'fnlwgt_35224',
 'fnlwgt_35236',
 'fnlwgt_35245',
 'fnlwgt_35295',
 'fnlwgt_35303',
 'fnlwgt_35305',
 'fnlwgt_35309',
 'fnlwgt_35330',
 'fnlwgt_35340',
 'fnlwgt_35373',
 'fnlwgt_35378',
 'fnlwgt_35406',
 'fnlwgt_35411',
 'fnlwgt_35424',
 'fnlwgt_35429',
 'fnlwgt_35448',
 'fnlwgt_35459',
 'fnlwgt_35494',
 'fnlwgt_35507',
 'fnlwgt_35520',
 'fnlwgt_35523',
 'fnlwgt_35551',
 'fnlwgt_35557',
 'fnlwgt_35561',
 'fnlwgt_35576',
 'fnlwgt_35595',
 'fnlwgt_35598',
 'fnlwgt_35603',
 'fnlwgt_35626',
 'fnlwgt_35633',
 'fnlwgt_35644',
 'fnlwgt_35649',
 'fnlwgt_35662',
 'fnlwgt_35663',
 'fnlwgt_35683',
 'fnlwgt_35723',
 'fnlwgt_35724',
 'fnlwgt_35783',
 'fnlwgt_35824',
 'fnlwgt_35829',
 'fnlwgt_35854',
 'fnlwgt_35865',
 'fnlwgt_35884',
 'fnlwgt_35890',
 'fnlwgt_35910',
 'fnlwgt_35917',
 'fnlwgt_35945',
 'fnlwgt_35961',
 'fnlwgt_35969',
 'fnlwgt_36006',
 'fnlwgt_36011',
 'fnlwgt_36012',
 'fnlwgt_36020',
 'fnlwgt_36032',
 'fnlwgt_36039',
 'fnlwgt_36058',
 'fnlwgt_36069',
 'fnlwgt_36077',
 'fnlwgt_36135',
 'fnlwgt_36162',
 'fnlwgt_36169',
 'fnlwgt_36177',
 'fnlwgt_36186',
 'fnlwgt_36201',
 'fnlwgt_36209',
 'fnlwgt_36214',
 'fnlwgt_36218',
 'fnlwgt_36228',
 'fnlwgt_36235',
 'fnlwgt_36243',
 'fnlwgt_36251',
 'fnlwgt_36270',
 'fnlwgt_36271',
 'fnlwgt_36275',
 'fnlwgt_36302',
 'fnlwgt_36311',
 'fnlwgt_36325',
 'fnlwgt_36327',
 'fnlwgt_36340',
 'fnlwgt_36348',
 'fnlwgt_36364',
 'fnlwgt_36376',
 'fnlwgt_36383',
 'fnlwgt_36385',
 'fnlwgt_36397',
 'fnlwgt_36411',
 'fnlwgt_36423',
 'fnlwgt_36425',
 'fnlwgt_36440',
 'fnlwgt_36467',
 'fnlwgt_36480',
 'fnlwgt_36489',
 'fnlwgt_36503',
 'fnlwgt_36539',
 'fnlwgt_36592',
 'fnlwgt_36601',
 'fnlwgt_36635',
 'fnlwgt_36651',
 'fnlwgt_36671',
 'fnlwgt_36699',
 'fnlwgt_36851',
 'fnlwgt_36876',
 'fnlwgt_36877',
 'fnlwgt_36882',
 'fnlwgt_36885',
 'fnlwgt_36924',
 'fnlwgt_36936',
 'fnlwgt_36956',
 'fnlwgt_36960',
 'fnlwgt_36984',
 'fnlwgt_36989',
 'fnlwgt_36990',
 'fnlwgt_36999',
 'fnlwgt_37019',
 'fnlwgt_37023',
 'fnlwgt_37028',
 'fnlwgt_37030',
 'fnlwgt_37070',
 'fnlwgt_37072',
 'fnlwgt_37085',
 'fnlwgt_37088',
 'fnlwgt_37092',
 'fnlwgt_37109',
 'fnlwgt_37170',
 'fnlwgt_37202',
 'fnlwgt_37203',
 'fnlwgt_37210',
 'fnlwgt_37215',
 'fnlwgt_37232',
 'fnlwgt_37237',
 'fnlwgt_37238',
 'fnlwgt_37250',
 'fnlwgt_37274',
 'fnlwgt_37289',
 'fnlwgt_37302',
 'fnlwgt_37306',
 'fnlwgt_37314',
 'fnlwgt_37331',
 'fnlwgt_37332',
 'fnlwgt_37345',
 'fnlwgt_37353',
 'fnlwgt_37359',
 'fnlwgt_37379',
 'fnlwgt_37380',
 'fnlwgt_37394',
 'fnlwgt_37402',
 'fnlwgt_37438',
 'fnlwgt_37440',
 'fnlwgt_37482',
 'fnlwgt_37546',
 'fnlwgt_37591',
 'fnlwgt_37599',
 'fnlwgt_37618',
 'fnlwgt_37646',
 'fnlwgt_37672',
 'fnlwgt_37676',
 'fnlwgt_37683',
 'fnlwgt_37720',
 'fnlwgt_37741',
 'fnlwgt_37745',
 'fnlwgt_37754',
 'fnlwgt_37778',
 'fnlwgt_37783',
 'fnlwgt_37792',
 'fnlwgt_37821',
 'fnlwgt_37848',
 'fnlwgt_37869',
 'fnlwgt_37894',
 'fnlwgt_37913',
 'fnlwgt_37918',
 'fnlwgt_37931',
 'fnlwgt_37932',
 'fnlwgt_37933',
 'fnlwgt_37937',
 'fnlwgt_37939',
 'fnlwgt_37987',
 'fnlwgt_37997',
 'fnlwgt_38001',
 'fnlwgt_38079',
 'fnlwgt_38090',
 'fnlwgt_38151',
 'fnlwgt_38158',
 'fnlwgt_38223',
 'fnlwgt_38232',
 'fnlwgt_38238',
 'fnlwgt_38240',
 'fnlwgt_38245',
 'fnlwgt_38251',
 'fnlwgt_38294',
 'fnlwgt_38307',
 'fnlwgt_38309',
 'fnlwgt_38310',
 'fnlwgt_38312',
 'fnlwgt_38317',
 ...]

In [ ]:
#Using Label Encoder to transform categorical variables
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df['class']=LE.fit_transform(df['class'])
df['workclass']=LE.fit_transform(df['workclass'])
df['education']=LE.fit_transform(df['education'])
df['marital-status']=LE.fit_transform(df['marital-status'])
df['occupation']=LE.fit_transform(df['occupation'])
df['relationship']=LE.fit_transform(df['relationship'])
df['race']=LE.fit_transform(df['race'])
df['sex']=LE.fit_transform(df['sex'])
df['native-country']=LE.fit_transform(df['native-country'])
df['class']=df['class'].astype(float)

In [ ]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
1,50,6,83311,9,13,2,4,0,4,1,0.0,0.0,13,39,0.0
2,38,4,215646,11,9,0,6,1,4,1,0.0,0.0,40,39,0.0
3,53,4,234721,1,7,2,6,0,2,1,0.0,0.0,40,39,0.0
4,28,4,338409,9,13,2,10,5,2,0,0.0,0.0,40,5,0.0
5,37,4,284582,12,14,2,4,5,4,0,0.0,0.0,40,39,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,7,12,2,13,5,4,0,0.0,0.0,38,39,0.0
32557,40,4,154374,11,9,2,7,0,4,1,0.0,0.0,40,39,1.0
32558,58,4,151910,11,9,6,1,4,4,0,0.0,0.0,40,39,0.0
32559,22,4,201490,11,9,4,1,3,4,1,0.0,0.0,20,39,0.0
32560,52,5,287927,11,9,2,4,5,4,0,15024.0,0.0,40,39,1.0

Model Training

In [ ]:
#Splitting Data into Dependant and Independant Variables
y=df['class']
x=df.drop('class', axis=1)

In [ ]:
#Splitting Data into Trining and Test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2)

In [ ]:
#Applying Naive Bayesian Classified from sklearn package
from sklearn.naive_bayes import GaussianNB
gb=GaussianNB()
gb.fit(x_train, y_train)

GaussianNB()

Model Evaluation

In [ ]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [ ]:
y_pred=gb.predict(x_test)
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))
print(accuracy_score(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.81      0.95      0.87      4957
         1.0       0.64      0.30      0.41      1555

    accuracy                           0.79      6512
   macro avg       0.73      0.62      0.64      6512
weighted avg       0.77      0.79      0.76      6512

[[4697  260]
 [1086  469]]
0.7933046683046683

In [ ]:
y_pred.shape

(6512,)

Checking for Bias using IBM AIF360

In [ ]:
!pip install aif360

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: aif360 in /usr/local/lib/python3.8/dist-packages (0.5.0)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.8/dist-packages (from aif360) (1.19.4)
Requirement already satisfied: scikit-learn>=1.0 in /usr/local/lib/python3.8/dist-packages (from aif360) (1.2.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from aif360) (1.1.5)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.8/dist-packages (from aif360) (1.5.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from aif360) (3.3.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->aif360) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->aif360) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0->aif360) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0->aif360) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->aif360) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->aif360) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/lib/python3.8/dist-packages (from matplotlib->aif360) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->aif360) (8.4.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->aif360) (1.15.0)

In [ ]:
!pip install 'aif360[Reductions]'

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: aif360[Reductions] in /usr/local/lib/python3.8/dist-packages (0.5.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from aif360[Reductions]) (3.3.3)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.8/dist-packages (from aif360[Reductions]) (1.5.4)
Requirement already satisfied: scikit-learn>=1.0 in /usr/local/lib/python3.8/dist-packages (from aif360[Reductions]) (1.2.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from aif360[Reductions]) (1.1.5)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.8/dist-packages (from aif360[Reductions]) (1.19.4)
Requirement already satisfied: fairlearn~=0.7 in /usr/local/lib/python3.8/dist-packages (from aif360[Reductions]) (0.8.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->aif360[Reductions]) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->aif360[Reductions]) (2.8.2)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0->aif360[Reductions]) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0->aif360[Reductions]) (3.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->aif360[Reductions]) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->aif360[Reductions]) (8.4.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/lib/python3.8/dist-packages (from matplotlib->aif360[Reductions]) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->aif360[Reductions]) (0.11.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->aif360[Reductions]) (1.15.0)

In [ ]:
# Load all necessary submodules
import sys
sys.path.insert(1, "../")

import numpy as np
np.random.seed(0)

from aif360.datasets import AdultDataset #Using the adultdatasetfrom AIF260 library
from aif360.datasets import StandardDataset
from aif360.metrics import BinaryLabelDatasetMetric, ClassificationMetric
from aif360.algorithms.preprocessing import Reweighing
from aif360.algorithms.preprocessing import DisparateImpactRemover

from IPython.display import Markdown, display

In [ ]:
AdultDataset

aif360.datasets.adult_dataset.AdultDataset

In [ ]:
privileged_groups=df.loc[df['sex']==1]
unprivileged_groups=df.loc[df['sex']==0]

In [ ]:
n=6512
df=df.iloc[:n]

In [ ]:
dataset = StandardDataset(df,
                          label_name='class',
                          favorable_classes=[1],
                          protected_attribute_names=['sex'],
                          privileged_classes=[[1]])

In [ ]:
print(dataset)

               instance weights features                                \

                                     age workclass    fnlwgt education
instance names
1                           1.0     50.0       6.0   83311.0       9.0
2                           1.0     38.0       4.0  215646.0      11.0
3                           1.0     53.0       4.0  234721.0       1.0
4                           1.0     28.0       4.0  338409.0       9.0
5                           1.0     37.0       4.0  284582.0      12.0
...                         ...      ...       ...       ...       ...
6508                        1.0     35.0       4.0  342768.0      11.0
6509                        1.0     54.0       4.0  108960.0       1.0
6510                        1.0     66.0       0.0  168071.0      11.0
6511                        1.0     32.0       4.0  136935.0      11.0
6512                        1.0     37.0       6.0  188774.0       9.0

                                                                          \

               education-num marital-status occupation relationship race
instance names
1                       13.0            2.0        4.0          0.0  4.0
2                        9.0            0.0        6.0          1.0  4.0
3                        7.0            2.0        6.0          0.0  2.0
4                       13.0            2.0       10.0          5.0  2.0
5                       14.0            2.0        4.0          5.0  4.0
...                      ...            ...        ...          ...  ...
6508                     9.0            2.0        3.0          0.0  4.0
6509                     7.0            2.0        7.0          0.0  4.0
6510                     9.0            2.0        0.0          0.0  4.0
6511                     9.0            4.0        8.0          4.0  2.0
6512                    13.0            4.0       11.0          1.0  4.0

                                                                             \
               protected attribute
                               sex capital-gain capital-loss hours-per-week
instance names
1                              1.0          0.0          0.0           13.0
2                              1.0          0.0          0.0           40.0
3                              1.0          0.0          0.0           40.0
4                              0.0          0.0          0.0           40.0
5                              0.0          0.0          0.0           40.0
...                            ...          ...          ...            ...
6508                           1.0          0.0          0.0           40.0
6509                           1.0          0.0          0.0           40.0
6510                           1.0          0.0          0.0           30.0
6511                           0.0          0.0          0.0           13.0
6512                           1.0          0.0          0.0           55.0

                              labels

               native-country
instance names
1                        39.0    0.0
2                        39.0    0.0
3                        39.0    0.0
4                         5.0    0.0
5                        39.0    0.0
...                       ...    ...
6508                     39.0    0.0
6509                     39.0    0.0
6510                     39.0    0.0
6511                     39.0    0.0
6512                     39.0    1.0

[6512 rows x 16 columns]

In [ ]:
def fair_metrics(dataset, y_pred):
    dataset_pred = dataset.copy()
    dataset_pred.labels = y_pred

    attr = dataset_pred.protected_attribute_names[0]

    idx = dataset_pred.protected_attribute_names.index(attr)
    privileged_groups =  [{attr:dataset_pred.privileged_protected_attributes[idx][0]}]
    unprivileged_groups = [{attr:dataset_pred.unprivileged_protected_attributes[idx][0]}]

    classified_metric = ClassificationMetric(dataset, dataset_pred, unprivileged_groups=unprivileged_groups, privileged_groups=privileged_groups)

    metric_pred = BinaryLabelDatasetMetric(dataset_pred, unprivileged_groups=unprivileged_groups, privileged_groups=privileged_groups)

    result = {'statistical_parity_difference':metric_pred.statistical_parity_difference(),
             'disparate_impact':metric_pred.disparate_impact(),
             'equal_opportunity_difference':classified_metric.equal_opportunity_difference(),
             'equalised_odds_difference':classified_metric.average_odds_difference()
            }

    return result


fair_metrics(dataset, y_pred)

{'statistical_parity_difference': -0.004734277871338885,
 'disparate_impact': 0.9582851178726204,
 'equal_opportunity_difference': -0.002220269756838908,
 'equalised_odds_difference': -0.0033567165611460767}

Mitigation

In [ ]:
!pip install BlackBoxAuditing

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: BlackBoxAuditing in /usr/local/lib/python3.8/dist-packages (0.1.54)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from BlackBoxAuditing) (3.3.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from BlackBoxAuditing) (1.1.5)
Requirement already satisfied: networkx in /usr/local/lib/python3.8/dist-packages (from BlackBoxAuditing) (3.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from BlackBoxAuditing) (1.19.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->BlackBoxAuditing) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->BlackBoxAuditing) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/lib/python3.8/dist-packages (from matplotlib->BlackBoxAuditing) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->BlackBoxAuditing) (8.4.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->BlackBoxAuditing) (0.11.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.8/dist-packages (from pandas->BlackBoxAuditing) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib->BlackBoxAuditing) (1.15.0)

In [ ]:
import aif360
from aif360.algorithms.preprocessing import DisparateImpactRemover

di = DisparateImpactRemover(repair_level = 1.0)
dataset_transf_train = di.fit_transform(dataset)
transformed = dataset_transf_train.convert_to_dataframe()[0]

In [ ]:
from sklearn.preprocessing import StandardScaler
x_trans = transformed.drop(['class'], axis = 1)
y = transformed['class']
scaler = StandardScaler()
data_std = scaler.fit_transform(x_trans)
x_trans_train,x_trans_test,y_trans_train,y_trans_test = train_test_split(x_trans, y, test_size=0.2, random_state = 0)

In [ ]:
naive_bayes=gb.fit(x_trans_train, y_trans_train)

In [ ]:
y_pred=gb.predict(x_trans_test)
print(classification_report(y_trans_test, y_pred))
print(confusion_matrix(y_trans_test, y_pred))
print(accuracy_score(y_trans_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.83      0.95      0.88      1000
         1.0       0.67      0.34      0.45       303

    accuracy                           0.81      1303
   macro avg       0.75      0.64      0.67      1303
weighted avg       0.79      0.81      0.78      1303

[[950  50]
 [200 103]]
0.8081350729086723

In [ ]:
n1=1303
transformed=transformed.iloc[:n1]

In [ ]:
dataset_trans = StandardDataset(transformed,
                          label_name='class',
                          favorable_classes=[1],
                          protected_attribute_names=['sex'],
                          privileged_classes=[[1]])

In [ ]:
def fair_trans_metrics(dataset_trans, y_pred):
    dataset_pred = transformed.copy()
    dataset_pred.labels = y_pred

    attr = dataset_pred.protected_attribute_names[0]

    idx = dataset_pred.protected_attribute_names.index(attr)
    privileged_groups =  [{attr:dataset_pred.privileged_protected_attributes[idx][0]}]
    unprivileged_groups = [{attr:dataset_pred.unprivileged_protected_attributes[idx][0]}]

    classified_metric = ClassificationMetric(dataset, dataset_pred, unprivileged_groups=unprivileged_groups, privileged_groups=privileged_groups)

    metric_pred = BinaryLabelDatasetMetric(dataset_pred, unprivileged_groups=unprivileged_groups, privileged_groups=privileged_groups)

    result = {'statistical_parity_difference':metric_pred.statistical_parity_difference(),
             'disparate_impact':metric_pred.disparate_impact(),
             'equal_opportunity_difference':classified_metric.equal_opportunity_difference(),
              'equalised_odds_difference':classified_metric.average_odds_difference()}

    return result


fair_metrics(dataset_trans, y_pred)

{'statistical_parity_difference': 0.025660863958736305,
 'disparate_impact': 1.2352245862884161,
 'equal_opportunity_difference': -0.0033783783783783716,
 'equalised_odds_difference': 0.011184482966558558}


Bias-Detector

In [ ]:
!pip install bias-detector

In [ ]:
#Create a bias detector instance

In [ ]:
from bias_detector.BiasDetector import BiasDetector
bias_detector = BiasDetector(country='US')

In [ ]:
#Generating bias report

In [ ]:
n=1303
df=df.iloc[:n]

In [ ]:
first_names=df['sex']
last_names=df['race']
zip_codes=df['native-country']
bias_report = bias_detector.get_bias_report(zip_codes=zip_codes, y_pred=y_pred)

/usr/local/lib/python3.8/dist-packages/surgeo/models/base_model.py:109: FutureWarning: The default value of regex will change from True to False in a future version.
  names.fillna('')
/usr/local/lib/python3.8/dist-packages/bias_detector/bias_metrics/PositivePredProbDiff.py:19: RuntimeWarning: invalid value encountered in double_scalars
  group_p = group.multiply(input.y_pred).sum() / group.sum()
/usr/local/lib/python3.8/dist-packages/bias_detector/bias_metrics/PositivePredProbDiff.py:20: RuntimeWarning: invalid value encountered in double_scalars
  others_p = others.multiply(input.y_pred).sum() / others.sum()

In [ ]:
print(bias_report.plot_summary())

None

In [ ]:
bias_report.print_summary()